////////////////////////////////////////////////////////////////////////////////
// Module Styles
// --------------------
// This partial defines the styles for modules. Most custom
// styling should go here.
//
// Styling of standard HTML elements (paragraphs, headers, lists, etc...) can
// be found in _base.scss.
//
// Positioning of major page elements can be found in _layout.scss.
////////////////////////////////////////////////////////////////////////////////

//@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700;800');
// Title Font
//@import url('https://fonts.googleapis.com/css?family=Open+Sans:700,800&display=swap');
// Body Font
//@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400&display=swap');
//These Url's need changing to latest google api's.
$login-button-colour: darken($ap-teal,10%);

body.custom-login {
//	--login-highlight-color: #92C2A5;
//	--login-background: #{$ap-black};
	--login-button-color: #{$login-button-colour};
//	--login-button-hover-color: #{$ap-black};
	--login-background-stop1-dark: #{$ap-teal};
	--login-background-stop2-dark: #{$ap-teal};

	&::after{
		content: "";
		position: absolute;
		width: 100vw;
		height: 100vh;
		background: $ap-black;
		z-index: -1;
	//	background: linear-gradient(-200deg, rgba(#fff,.2), rgba(#fff,.0));
//background: #000 image('mezzotint-wht@1x.png');

			background: image('circle-pattern.svg');
			background-size: 10px, 100%;
			opacity: .2;
	}

	.region-content{
		padding: 10px 0;
	}
}

body.custom-login.dark{
	//background: red;
}

.view-filters{
	display: none; // Temporary for staging.
}

.skip-link{
  color: #6161FF;
  background: #212121;
  color: #fff;
  margin: 5px;
  padding: 10px 10px;

  &:focus{
    //background: $ap-ivory;
    //color: #000;
    //text-decoration: underline;
  }
}

%focus{
  outline: 4px solid $ap-teal;
  background: rgba($ap-teal,.4);
}

// For accesibility links, shouldn't be visible outside of tabbing.
a:focus{
  @extend %focus;
}

h1:focus{
  @extend %focus;
}

//------------------------------------
//		Extends
//------------------------------------
%vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

%clearfix{
 	&:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

%zero-margin-padding{
	margin: 0;
	padding: 0;
}

.visually-hidden,
%visually-hidden{
	position: absolute !important;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	width: 1px;
	height: 1px;
	word-wrap: normal;
}


//------------------------------------------------------------------------
//		Small tweaks
//------------------------------------------------------------------------
img,svg{
	max-width: 100%;
	height: auto;
	overflow: visible;
}

.region-messages .wrapper{
	padding:  0;

	.messages:last-child{
		margin-bottom: $base-line-height;
	}
}

// SVG's placed by media library within formatted text fields should adopt the text colour.
.field--name-field-sections .text-formatted .media--type-image svg *{
	fill: currentColor;
}

// Make sure the first element inside the body field doesn't use its top margins if it has them.
.field--name-field-body,
.field--name-body{
	//.field-value *:first-child{
	.field__item *:first-child{
	//	margin-top: 0;
	}
}

.text-formatted > *:first-child{
	margin-top: 0;
}

.text-formatted > *:last-child{
	margin-bottom: 0;
}

.main.wrapper > *:last-child,
.text-formatted .field__item > *:last-child{
	margin-bottom: 0;

	.button {
		margin-bottom: 0;
	}
}







div.messages ul.messages__list{
	li{
		list-style: none;
		padding-left: 10px;


		&:nth-child(n+2){
			margin-top: .5rem;
		}
	}
}



//------------------------------------------------------------------------
//		BODY / HTML
//------------------------------------------------------------------------
body.mm-wrapper{
	background: white;

	&.dark-header{
		background: #000;
	}
}

#page{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background: #fff;
}

#block-artpro-content > article{
	background: #fff;
}

// Visually hide but allow safari reader to use for example.
/* article.node  */.field--name-field-feature-image{
	position: absolute !important;
	z-index: -95;
	pointer-events: none;
	width: 90%;
	right: 5%;
}

//------------------------------------------------------------------------
//		Structure
//------------------------------------------------------------------------
.wrapper{
	padding: 0px var(--horizontal-padding);
	position: relative;
	width: 100%;
	box-sizing: border-box;
	max-width: $max-wrapper-width;
	margin: 0 auto;
}

.block > h2{
	@extend .gtsectra-large;
	margin-top: 0;
}

.region-content{
	@extend .wrapper;
	padding: var(--vertical-padding) var(--horizontal-padding);
}


.path-taxonomy .region-content,
.path-node .region-content{
	max-width: none;
	padding: 0;
}

.main.wrapper{
	padding: 0 var(--horizontal-padding) var(--vertical-padding);
}




//------------------------------------------------------------------------
//		Edit / View Tabs
//------------------------------------------------------------------------
nav.tabs ul.tabs{
	@extend .wrapper;
	margin-left: auto !important;
	margin-right: auto !important;
	margin-top: 30px;
	margin-bottom: 30px;
}



//------------------------------------------------------------------------
//		Nav Bar with Logo and Menu
//------------------------------------------------------------------------
#nav-bar{
	position: absolute;
	width: 100%;
	z-index: 5;
	//padding-top: 25px;

	.wrapper{
		display: flex;
		flex-direction: row wrap;
		z-index: 2;
		padding-top: 25px;
		//padding-bottom: 25px;
		align-items: center;

		@include breakpoint(calc(#{$max-wrapper-width} + 65px)){
			max-width: 95%;
		}
	}
}

#logo{
//	margin-top: 25px;
}

.logo{
	max-width: 200px;
	width: 100%;
	display: block;
	color: var(--font-color);
	transition: all $transition-speed;

	svg{
		height: 50px;
		display: block;
		transition: all $transition-speed;
	}

	&:hover{
		opacity: .85;
	}
}


//------------------------------------------------------------------------
//		Mobile Menu
//------------------------------------------------------------------------
#mmenu-custom{
	--font-color: #{$font-color-light};
	color: #fff;
	--mm-color-background: #{$ap-black};
	font-size: 16px;
	font-weight: 700;

	.mm-navbar{
		color: inherit;

		a.link{
			padding-bottom: 40px;
			text-indent: -964rem;
			svg{
				height: 30px;
			}
		}
	}

	.logo{
		height: 50px;
	}

	.mmenu-header{
		padding: 30px;
	}

	a.mm-navbar__title{
		color: $ap-black;
		background: $ap-black;
		font-size: inherit;
		text-transform: uppercase;
		justify-content: flex-start;
	}

	// Don't display 'menu' but do display title if it's a parent item title
	.mm-panel:not([id="mm-1"]) a.mm-navbar__title{
		color: $ap-grey;
	}

	.mm-menu{

	}

	a,
	a:active,
	a:hover,
	a:link,
	a:visited,
	a.mm-navbar__title{
		@extend label;
	}

	ul.mm-listview{
		li.menu__item{
			a{
				color: #fff;
				padding: 20px;
				font-size: inherit;
				padding-left: 50px;

				&:active{
					color: $ap-tan;
				}
			}
		}
	}

	// For submenu chevrons
	.mm-btn::after, .mm-btn::before{
		border-color: $ap-grey;
	}

	// Moving divider across
	.mm-listitem::after{
		left: 0;
		//border-style: dashed;
	//	border-color: $yellow;
		border-width: 1px;
	}
}

//------------------------------------------------------------------------
//		Main Menu
//------------------------------------------------------------------------
.region-main-menu{
	margin-left: auto;
	display: none;

	.block-superfish{
		display: flex;
		align-content: center;
	}

	nav{
//		flex-grow: 1;
	}

	@include breakpoint($tablet){
		display: flex;
	}
}


//---------------------------
// Hamburger
//---------------------------
#hamburger {
    margin-left: auto;

	--mb-bar-height: 2px;
	--mb-button-size: 40px;
	--mb-bar-width: .8;

	b{
		border-radius: 0px;
		color: var(--font-color);
	}

	@include breakpoint($tablet){
		display: none;
	}
}


//----------------------------------
// Main Dropdown Menu styling
//----------------------------------
ul#superfish-main.sf-menu{

	display: flex;

	> li:hover > ul,
	> li.sfHover > ul{
		top: 48px;
	}

	.sf-sub-indicator{
		display: none;
	}

	.sf-sub-indicator::after{
		content: '+';
		line-height: .8em;
	}

	// Top Level
	> li{
		padding: 0;
		flex-grow: 1;
		display: flex;

		&.menu-item--collapsed{
			list-style: none;
			list-style-image: none;
		}

		a{
			text-decoration: none;
			font-size: 1.5rem;
			font-family: $title-font;
			font-weight: 500;
			color: var(--font-color);
			@extend %font-smoothing;
			transition: all .2s;

			&.is-active{
				//border-bottom: 1px solid var(--font-color);
			}

			&:hover{
				color: var(--link-color);

			}
		}

		> a{
			padding: 10px 15px;
			flex-grow: 1;
			display: flex;
			align-items: center;
			justify-content: center;

			.sf-sub-indicator{
				right: 2rem;
			}

			&:hover{
				//background: rgba(#000,.9);
			}
		}

		&.sfHover > ul,
		&:hover > ul{
			top: 38px;
		}

		> ul{
			width: 12em !important;
			//background: tint($ap-ivory,20%);
			//background: #fff;
			//--font-color: #{$font-color-light};
			//--font-color-invert: #{$font-color-dark};
			//background: var(--font-color-invert);
			background: var(--font-color-invert-alpha);
			//margin-left: -10px;

			li{
				padding: 0px 15px;

				//border-bottom: 1px solid var(--link-bottom-border);

				&.active-trail{
					//border-color: #fff;
					a{
						//background: image('mezzotint-wht@1x.png');
						//border-left: 3px solid $ap-grey;
						//color: $ap-tan;
						//padding-left: 17px;

						&:hover{
							transform: none;
						}
					}
				}


				a{
					border-bottom: 1px solid rgba($ap-grey,.1);

					//color: var(--font-color);
					padding: 8px 15px;
					padding: 8px 0;
					line-height: 1.2em;
					//font-weight: 200; //book

					&:hover{
						transform: translateX(5px);
					}
				}
			}
		}

		&.active-trail > a,
		a.is-active{

		}

		&.menuparent:hover > a:hover{
			//background: darken($ap-ivory,5%);
		}

		&.menuparent:hover,
		&.sfHover{
			> a{
				background: var(--font-color-invert-alpha);
			}
		}
	}

}



//------------------------------------------------------------------------
//		Homepage
//------------------------------------------------------------------------
.homepage-content{
	flex-basis: 100%;
}

main{
	background: #fff;
}

.path-frontpage {

	#page-title{
		font-size: 4rem;
		line-height: 2 * $base-line-height;
		text-transform: inherit;
		font-weight: 300;
		text-shadow: 0 0 50px rgba(#000,1);
		opacity: 0;
		transform: translateY(-30px);
		transition:
			opacity 1.5s 1s,
			transform 1.5s 1s;
	}

	#content-header{
		--font-color: #{$font-color-light};
		min-height: 100vh;

		> .wrapper{
			min-height: 80vh !important;
		}
	}

	.button{
		opacity: 0;
		transform: translateY(30px);
		transition:
			transform 1.5s 1s,
			opacity 1.5s 1.25s,
			color $transition-speed,
			background $transition-speed;
	}

	&.loaded{

		#page-title{
			opacity: 1;
			transform: translateY(0);
		}

		.button{
			opacity: 1;
			transform: translateY(0px);
		}
	}

	section.main.wrapper{
		border-bottom: $border-width solid $ap-black;
		padding: 0;
		padding-bottom: var(--vertical-padding);

		h2{
			@extend .h1;
			margin-bottom: 0;
			text-transform: none;
		}

		article{
			margin-top: 30px;
		}
	}

	.region-content-bottom > .wrapper{
		padding-top: 0;
	}

	@include breakpoint($tablet){
		.image-style-full-width{
			margin-top: 0;
		}

		h2{
			margin-right: 30px;
		}

		//section.main.wrapper .field--name-body .field-value{
		section.main.wrapper .field--name-body{
			display: flex;
			align-items: top;

			article{
				margin-top: 0;
			}
		}

		#page-title{
			font-size: 5rem;
			line-height: 2.5 * $base-line-height;
		}

		// Featured Work and News sections
		.region-content-bottom > .wrapper{
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
		}
	}

	.case-studies .view-content::after{
		display: none; // No need for pseudo element on homepage as there is only one item.
	}
}


//---------------------------------------------
// 		Paragraph styles
//---------------------------------------------
//------------------------------
// 		Three Column
//------------------------------
.paragraph--type--three-column{
	border: $border-width solid var(--font-color);

	> div {
		padding: 20px;
		border-top: $border-width solid var(--font-color);
		position: relative;

		&:first-child{
			border: none;
		}

		*:first-child, h3{
			margin-top: 0;
		}

		// Provide a better visual break on mobile.
		&::after{
			content: "";
			width: calc(100% + 40px);
			height: .5 * $vertical-padding;
			background: image('mezzotint-wht@1x.png');
			border-top: $border-width solid #fff;
			margin: 20px -20px -20px;
		}
	}

	@include breakpoint($tablet){
		display: flex;
		flex-flow: row wrap;

		> div{
			flex: 1;
			border-left: $border-width solid var(--font-color);
			border-top: none;

			&:after{
				display: none;
			}
		}
	}
}


//------------------------------
// 		Text on black
//------------------------------
.paragraph--type--text-black{
	background: $ap-black;
	--font-color: #{$font-color-light};
	--font-color-invert: #{$font-color-dark};
	color: var(--font-color);

	.text-formatted{
		@extend .wrapper;
		//padding: calc(.5 * var(--vertical-padding)) var(--horizontal-padding);
		padding: var(--vertical-padding) var(--horizontal-padding);
	}

	//.field-value *:first-child{
	.field__item *:first-child{
		margin-top: 0;
	}
}


@include breakpoint($tablet){
	.two-column{
		display: flex;
		margin-left: -40px;

		> *{
			flex: 1;
			margin-left: 40px;

      > *:first-child{
        margin-top: 0;
      }
		}
	}
}


//------------------------------
// 		Free text field
//------------------------------
.paragraph--type--free-form{

	.text-formatted{
		@extend .wrapper;
		//padding: calc(.5 * var(--vertical-padding)) var(--horizontal-padding);
		padding: var(--vertical-padding) var(--horizontal-padding);
	}

	//.field-value *:first-child{
	.field__item *:first-child{
		margin-top: 0;
	}

}

//------------------------------------------------------------------------
//		Contact Us Page
//------------------------------------------------------------------------
$form-spacing: 20px;

.page-node-2{

	.region-content{
		max-width: $max-wrapper-width;
		padding: var(--vertical-padding) var(--horizontal-padding);
	}

	#block-artpro-content{
		padding-bottom: var(--vertical-padding);
	}

	@include breakpoint($laptop){
		.region-content{
			display: flex;
			flex-flow: row wrap;
		}

		#block-artpro-local-tasks{
			flex: 0 0 100%;
		}

		#block-artpro-content,
		#block-artpro-webform{
			flex: 1;
			max-width: $max-wrapper-width / 2;
			padding-bottom: 0;
		}

		#block-artpro-webform{
			margin-left: 60px;
		}
	}

	.main.wrapper{
		padding: 0;
	}


	.region-content form{
		display: flex;
		flex-flow: row wrap;
		margin-left: -$form-spacing;



		> div{
			//flex: 1 1 40%;
			flex: 1;
			flex-basis: 40%;
			margin-left: $form-spacing;

			&.form-type-textarea{
				flex-basis: 100%;
			}

			&[data-drupal-messages=""]{
				flex-basis: 100%;
			}
		}
	}

	input[type="submit"]{
		margin-left: $form-spacing;
	}
}

// For displaying the Australian and US office addresses side by side.
.ap-locations{
	display: flex;
	margin-left: -$form-spacing;

	> div{
		flex: 1;
		margin-left: $form-spacing;
	}
}



//------------------------------------------------------------------------
//		Planning and design page.
//------------------------------------------------------------------------
.vocabulary-id-product.term-id-38 {

	// Use inverted colour scheme for main content and content header
	main,
	#content-header{
	--font-color: #{$font-color-light};
	--font-color-invert: #{$font-color-dark};
	}

	main{
		color: #fff;
		background: $ap-black url('/sites/default/files/media/images/products-services-header.svg') no-repeat;
		background-size: 130%;
		background-position: center 110%;
	}

	.button{
		margin: var(--vertical-padding) auto;
	}

	.paragraph--type--three-column svg{
//		max-width: 130px;
	}

	.media--view-mode-full-width{
		margin-top: 0;
		float: left;
		margin-right: 20px;
		margin-bottom: 20px;
	}

	.field--name-field-media-image{
		height: 110px;
		width: 110px;

		ul,li{
		//	height: 100%;
		}

		svg{
			width: 100%;
			height: 100%;
		}
	}

	.text-formatted ul{
		column-count: 2;
		margin: 0;
		padding: 0;

		li{
			break-inside: avoid;
			display: inline-block;
			margin: .25 * $base-line-height 0;
		}
	}

	h3{

	}

	@include breakpoint($tablet){
		.media--view-mode-full-width{
			float: none;
			margin: 0;
		}

		.text-formatted ul{
			column-count: 1;

			li{
				display: block;
			//	break-inside: avoid;
			//	display: inline-block;
			//	margin: .25 * $base-line-height 0;
			}
		}

		h3{
			margin-top: 2rem;
		}
	}
}


//----------------------------------------------------------------------
// 		Featured Work and News sections on the homepage
//----------------------------------------------------------------------
#block-featured-project{
	flex: calc(7/12);
	margin-bottom: var(--vertical-padding);

	@include breakpoint($tablet){
		margin-bottom: 0;
	}

	// Styling inherited from Our work / Case studies page
}

#block-news{
	flex: calc(4/12);

	svg{
		width: 18px;
		height: 15px;
		color: inherit;
		margin-right: 15px;
		flex: 1;
		flex: 0 0 18px;
		transition: all $transition-speed ease-in-out;
	}

	h3{
		@extend .h4;
		color: inherit;
		margin: 0;
		flex: 1;
		transition: all $transition-speed ease-in-out;
	}

	.views-row:first-child a{
		padding-top: 0;
	}

	a{
		border-bottom: $border-width solid $ap-black;
		text-decoration: none;
		padding: 20px 0;
		color: #000;
		display: flex;
		align-items: center;

		&:hover{
			color: $ap-teal;

			h3{
				transform: translateX(12px);
			}

			svg{
				transform: translateX(9px);
			}
		}
	}
}


//------------------------------------------------------------------------
//		Custom Node title headers / Content Header
//------------------------------------------------------------------------
#content-header{
	background-size: cover;
	//background-position: center center;
	background-position: center 20%;
	position: relative;

	> .wrapper{
		padding-top: 150px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		z-index: 1;
		padding-bottom: .5 * $vertical-padding;
		//min-height: 300px;
		//height: 20vw;
		transition: all $transition-speed;
	}

	// For when there is an partner logo or product icon in the content header
	.header-row{
		display: flex;

		svg{
			width: 16.66%;
			margin-right: 8.7%;

			*{
				fill: var(--font-color);
			}
		}
	}

	.header-group{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.context-type{
		//margin-bottom: -1em;
		color: $ap-grey;
	}

}

#page-title{
	color: var(--font-color);
}

.page-subtitle{
	color: var(--font-color);
}

.context-type,
.page-subtitle{
	color: var(--font-color);
	text-decoration: none;

	a{
		text-decoration: none;
		color: inherit;
		text-decoration: inherit;

		&:hover{
			text-decoration: underline;
		}
	}
}

// breadcrumb divider{
.divider{
	margin: 0 6px;
}

.context-type{
	position: relative;
	display: block;
	width: max-content;
	text-decoration: none;
	@extend %font-smoothing;

	// Testing the following
	text-transform: uppercase;
	font-size: 1.25rem;
	font-weight: 400;
	transition: all $transition-speed;
}


//------------------------------------
//	Breacrumb links
//------------------------------------
.product-breadcrumb,
.partner-breadcrumb{
	display: none;
}

.vocabulary-id-product .product-breadcrumb{
	display: inline-block;
}

.vocabulary-id-partners .partner-breadcrumb{
	display: inline-block;
}

//------------------------------------
//	Dark Header Version
//------------------------------------
.path-frontpage,
.path-taxonomy,
.page-node-type-case-study,
.dark-header{
	// Invert colours for these regions
	#nav-bar,
	#content-header{
		--font-color: #{$font-color-light};
		--font-color-invert: #{$font-color-dark};
		--font-color-invert-alpha: rgba(0,0,0,.9);
		--link-color: #{$link-color-on-dark};
		--link-bottom-border: rgba(229,224,217,.15);
	}

	// Menu changes for dark mode, some in variables others below
	ul#superfish-main.sf-menu > li > ul li{
		padding: 0;
		border-bottom: 1px solid var(--link-bottom-border);

		a{
			border: none;
			padding: 8px 15px;
		}
	}

	#content-header{
		background-color: var(--font-color-invert);
		text-shadow: 0 0 40px #000;

		> .wrapper{
			//height: 25vw;
			//max-height: 700px;
		}

		.wrapper{
			position: unset;
		}
	}

	.main.wrapper{
		padding: var(--vertical-padding) var(--horizontal-padding);
	}


}

.dark-header #content-header{
	> .wrapper{

	}

	.context-type{
		color: #fff;
	}
}

.dark-header #content-header{
	> .wrapper{
		min-height: 25vh;
	}

	@include breakpoint($laptop){
	> .wrapper{
			height: 25vw;
			min-height: 400px;
		}
	}
}


//------------------------------------------------------------
//	Ajax Modal Styling for contact form submissions
//------------------------------------------------------------

.ui-widget-overlay{
	background: rgba($ap-black,.6);
}

.ui-dialog{
	border: none;

	.ui-dialog-titlebar{
		background: $ap-ivory;
		padding: 30px;
		border: none;
	}

	.ui-dialog-title{
		@extend .h2;
	}

	.ui-widget-content{
		font-family: $body-font;
		font-size: 1.5rem;
		padding: 30px;
		background: #fff;
		color: #000;
	}

	.ui-button{
		width: 15px;
		height: 15px;
		background: image('icon-cross.svg');
		//background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/fragment-ready-4.svg#icon-clock-view') no-repeat;
		background-size: contain;
		margin: 0;
		position: absolute;
		top: 5px;
		right: 5px;
		display: block;
		border-radius: 0;
		transition: all $transition-speed;

		&:focus{
			border: none;
			outline: none;
		}

		&:hover{
			opacity: .7;
		}

		span{
			display: none;
		}
	}

	&.ui-widget-content{
		border: none;
	}
}



//------------------------------------
//	Image Treatments
//------------------------------------
@keyframes image-fade-in {
  from {
	opacity: 1;
  }
  to {
    opacity: 0;
  }
}

// .dark-header class added to body based on existence of feature image in custom node title view. Triggering image treatments
.dark-header {

	#content-header{
		z-index: 0;

		&::before,
		&::after{
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			background: image('circle-pattern.svg'), linear-gradient(to bottom, rgba(0,0,0,0.70) 0%,rgba(0,0,0,0) 40%,rgba(0,0,0,0) 100%);
			background-size: 8px, auto;
			//background-color: rgba($ap-black,.6); This is probably where we'd tint light images.
			top: 0;
			z-index: -2;
		}

		&::after{
			background: rgba($ap-ivory,.6);
			mix-blend-mode: color;
		}
	}

	// We blockout the image with black and fade out the black to reveal the image
	.feature-image-blockout{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: $ap-black;
		z-index: -1;
		animation: image-fade-in 1.5s;
		animation-fill-mode: forwards;
	}
}

// Override treatment for Our Work page, probably others to follow.
.path-projects{
	#content-header{
		&::before,
		&::after{
			display: none;
		}
	}
}

// Products and Services page
.page-node-5 #content-header{
	background-position: center 130px;
	background-repeat: no-repeat;
	background-size: 130%;

	&::before,
	&::after{
		display: none;
	}
}


//------------------------------------
//	Featured Audio
//------------------------------------
#feature-audio{
	float: right;
	position: relative;
	z-index: 5;

	button{
		padding: 5px 10px;
		border: none;
		background: $ap-black;
		color: #fff;
		font-family: $title-font;
		float: right;
		transition: all $transition-speed;

		&::after{
			content: '\25b6';
			font-size: 1.4rem;
			margin-left: 10px;
		}

		&:hover{
			background: $ap-teal;
		}
	}

	audio{
		display: none;
		background: $ap-teal;
	}

	button.pause {
		background: $ap-burnt-ochre;
		display: none;

		~ audio{
			display: block;
		}
	}
}





//------------------------------------------------------------------------
//		Sidebar
//------------------------------------------------------------------------
aside{

}

.left-sidebar{
	margin-right: 25px;
	padding-right: 25px;
}

body.cke_editable drupal-media{
	display: block;
}


//------------------------------------------------------------------------
//		Footer
//------------------------------------------------------------------------
@include breakpoint($phablet){
	.region-footer{
		display: flex;

		#block-sayhello{
			flex: 2;
		}

		#block-mainnavigation{
			flex: 3;
		}
	}
}

#block-sayhello{
	margin-bottom: 40px;
}

#footer{
	--link-color: #{$link-color-on-dark};
	background: $ap-black;
	color: #fff;

	a.logo svg{
		height: 50px;
		margin-top: -12px;
	}

	.field a{
		color: #fff;
		text-decoration: none;
		transition: all $transition-speed ease-in-out;

		&:hover{
			color: #{var(--link-color)} !important;
		}
	}

	> .wrapper{
		padding-top: .5 * $vertical-padding;
		padding-bottom: .5 * $vertical-padding;
	}
}


//--------------------------------------------
// Social Media Links in custom footer block
//--------------------------------------------
.social-links{
	margin-left: -10px;

	a{
		display: inline-block;
		width: 24px;
		height: 24px;
		padding: 10px;
		transition: all $transition-speed !important;

		svg{
			width: 100%;
			height: 100%;
		}

		&::after{
			display: none;
		}

		&:hover{
			transform: translateY(-5px);
			position: relative;

			// Avoid link jitter by providing an element to cover the space the link is leaving
			&::after {
				display: block;
				position: absolute;
				border: none !important;
				content: "";
				width: 100%;
				top: 0;
				left: 0;
				bottom: -5px;
				z-index: -1;
			}
		}
	}
}

//--------------------------------------------
// Full menu reproduced in footer
//--------------------------------------------
$footer-menu-margin: 20px;

#block-mainnavigation > ul.menu{
	//column-count: 3;
	//margin: 0;
	margin-top: -$footer-menu-margin;
	display: flex;
	flex-flow: column wrap;
		//margin-left: calc(-1 * #{var(--horizontal-padding)};
	margin-left: -20px;
	max-width: 100%;

	> li{
		break-inside: avoid;
		padding-top: $footer-menu-margin;

		// Defaults for links
		a{
			color: inherit;
			text-decoration: none;
			display: block;
			margin-left: 20px;

			&:hover{
				//text-decoration: underline;
				color: var(--link-color);
			}
		}

		// Top level links
		> a{
			@extend .h4;
			display: block;
			font-weight: 600;
			font-family: $title-font;
			padding-bottom: .5 * $base-line-height;

		}
	}

	ul.menu{
		margin: inherit;

		li{
			margin: 0;
			padding: 0;
		}

		// Second level links
		a{
			font-size: 1.5rem;
			padding-top: .25 * $base-line-height;;
			padding-bottom: .25 * $base-line-height;;
			display: block;
			font-weight: 500;
			font-family: $title-font;
			@extend %font-smoothing;

		}
	}

	@include breakpoint($mobile){
		max-height: 260px;
	}
}


//------------------------------------------------------------------------
//		Author / Post Metadata such as date published etc.
//------------------------------------------------------------------------
/*.node__submitted{
	display: flex;
	align-items: center;

	img{
		width: 70px;
		height: auto;
		border-radius: 70px;
		padding: 3px;
		border: 1px solid $ap-grey;
	}

	> div{
		margin-left: 20px;
	}
}
*/

//------------------------------------------------------------------------
//		Edit link
//------------------------------------------------------------------------
.edit-link{
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	background: #000;
	color: #fff;
	opacity: 0;
	//transition: all $transition-speed;
	text-decoration: none;
	font-size: 12px;
	font-family: $title-font;
	text-transform: uppercase;
	font-weight: 600;
	padding: .3rem 1rem;
	z-index: 99;

	&:hover{
		opacity: 1;
		background: $ap-teal;
		//color: #;
	}
}

.views-row:hover .edit-link{
	opacity: 1;
}


//------------------------------------------------------------------------
//		Case Study Teasers / Views of related content, our work, news etc.
//------------------------------------------------------------------------
.view-news.content-listings .views-row{
	flex-basis: 40%;
	//flex: 1;
}

.view-case-studies.content-listings .views-row{
	&:nth-child(2),
		&:nth-child(3),
		&:nth-child(5),
		&:nth-child(6),
		&:nth-child(8),
		&:nth-child(9){
			flex-basis: 500px;
		}

	// We don't need to display context (aka projects) because they are all projects.
	.context-type{
		display: none;
	}

}

.content-listings{
	--font-color: #{$font-color-light};

	.view-content{
		display: flex;
		flex-flow: row wrap;
		margin-left: -$grid-view-margins;

		&::after{
			content: '';
		}

		// Go to two items wide
		@include breakpoint(880px){
			&::after{
				flex-basis: 50%;
			}
		}
	}

	.teaser-text{
		margin-bottom: $base-line-height;
		transition:
	//		all 400ms cubic-bezier(.33, .005, .125, 1.005),
			transform 400ms 180ms,
			opacity 400ms 180ms;
		transform: translateY(15px);
		opacity: 0;
	}

  .teaser-content{
	  .h3,.h4{
		  transform: translateY(-15px);
		  opacity: 0;
      transition-delay: 1s; // This is used for mouseout so we don't see these values animate
	  }
  }

	.h3{
		transition-delay: 180ms;
	}

	.views-row{
		flex-grow: 1;
		flex-basis: 400px;
		margin-left: $grid-view-margins;
		margin-bottom: $grid-view-margins;
		position: relative;
	}

	// Typically a or button elements holding content
	.listing{
		background: #333 image('mezzotint-blk@2x.png') repeat;
		display: block;
		position: relative;
		background-size: 100px;
		transition: all $transition-speed;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		overflow: hidden;
		color: #fff;
		height: 100%;
		transition:
			opacity 400ms cubic-bezier(.33, .005, .125, 1.005),
			background 800ms cubic-bezier(.33, .005, .125, 1.005),
			color 400ms cubic-bezier(.33, .005, .125, 1.005);

		&::after{
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			background: rgba($ap-black,.25);
			top: 0;
			left: 0;
			z-index: 0;
		}
	}

	.divider{
		position: relative;
		display: block;
		height: 2px;
		background: #fff;
		margin: 15px 0;
		transform: translateX(100%);
		width: 100%;
		opacity: 0;
		transition:
			transform 400ms cubic-bezier(.33, .005, .125, 1.005) 180ms,
			width 400ms cubic-bezier(.33, .005, .125, 1.005) 300ms,
			opacity 200ms cubic-bezier(.33, .005, .125, 1.005) 180ms,
	}


	.views-row:hover{


		.edit-link{
			opacity: 1;
		}

		.listing{
			opacity: 1;
			filter: saturate(0%);

			.button{
				opacity: 1;
				transform: translateY(0);
			}

			.teaser-content{
				opacity: 1;
			}

			.teaser-title{
				opacity: 0;
			}

			.h3,.h4{
				transform: translateY(0);
				opacity: 1;
				transition:
			all 400ms cubic-bezier(.33, .005, .125, 1.005),
			transform 400ms 0ms,
			opacity 400ms 0ms;

			}

			.divider{
				transform: translateX(0) translateZ(0);
				width: 90px;
				opacity: 1;

			}

			.teaser-text{
				transform: translateY(0px);
				opacity: 1;
			}
		}
	}

	.teaser-title{
		z-index: 1;
		position: absolute;
		bottom: 0;
		display: block;
		width: 100%;
		padding: 3 * $grid-view-margins;
		transition: all $transition-speed;
		background: linear-gradient(to bottom, rgba(black, 0), rgba(black,.8)); // black gradient to improve legibility of text.
		box-sizing: border-box;
	}

	h3,h4{
		margin: 0;
	}

	h4,.h4{
		margin-top: 5px;
	}

	hr{
		border-color: #fff;
		margin: $grid-view-margins 0;
	}

	.teaser-content{
		min-height: 350px;
		z-index: 2;
		height: 100%;
		width: 100%;
		padding: 3 * $grid-view-margins;
		display: flex;
		flex-direction: column;
		opacity: 0;
		//transition: all $transition-speed;
		transition: opacity 400ms cubic-bezier(.33, .005, .125, 1.005);
		box-sizing: border-box;
		background: rgba(#000,.8);

		.button{
			border-color: #fff;
			margin-top: auto;
			//transition: all $transition-speed, transform $transition-speed ease-in-out $transition-speed, opacity $transition-speed ease-in-out $transition-speed;
			transition: all 400ms cubic-bezier(.33, .005, .125, 1.005),
				transform 400ms 360ms,
				opacity 400ms 460ms !important;
			transform: translateY(20px);
			margin-bottom: 0;
			opacity: 0;

			&:hover{
				background: #fff;
				color: #000;
				cursor: pointer;
			}
		}

		h4{
			color: inherit;
		}
	}
}


//------------------------------------------------------------------------
//		Related Reading listings at the bottom of nodes
//------------------------------------------------------------------------
.region-content-bottom{
	background: #fff;

	> .wrapper{
		padding-bottom: var(--vertical-padding);
		padding-top: var(--vertical-padding);
	}
}



//------------------------------------------------------------------------
//		Our People / Staff Listing Page
//------------------------------------------------------------------------
#block-our-people{
	@extend .wrapper;
}

// For overriding default margins for this listing type
$staff-margins: $grid-view-margins;

.staff-listing{
	.view-content{
		margin-left: -1 * $grid-view-margins;

		&::after,
		.views-row{
			position: relative;
			margin-left: $grid-view-margins;
		}

		&::after{
			content: "";
		}

		// Two items wide
		@include breakpoint(440px){
			display: flex;
			flex-flow: row wrap;

			.views-row,
			&::after{
				flex: 1;
				flex-basis: 40%;
			}
		}

		// Three items wide
		@include breakpoint($phablet){
			.views-row,
			&::after{
				flex-basis: 30%;
			}

			.views-row:last-child{
				max-width: calc(33% - #{$grid-view-margins});
			}
		}

		// Four items wide
		@include breakpoint($laptop){
			.views-row,
			&::after{
				flex-basis: 24%;
			}

			.views-row:last-child{
				max-width: calc(25% - #{$grid-view-margins});
			}
		}
	}

	// Control box sizing here, the buttons just inherit the width and maintain aspect ratio with padding-top

	.photo{
		width: 100%;
		display: block;
		height: 0;
		padding-bottom: 100%;
		background-size: cover;
		overflow: hidden;
		position: relative;


		&:after{
			background: inherit;
			position: absolute;
			left: 0;
			top: 0;
			content: "";
			filter: saturate(0%);
			width: 100%;
			height: 100%;
			transition: all $transition-speed ease-in-out;
		}
	}

	h2{
		margin: 10px 0 5px 0;
	}

	h3{
		margin: 0;
	}

	.staff-profile{
		height: 100%;
		width: 100%;
		border: none;
		display: flex;
		flex-direction: column;
		padding: 0;
		background: none;
		align-items: stretch;
		text-align: left;
		padding-bottom: 2 * $grid-view-margins;

		&:focus,
		&:hover{
			.photo::after{
				transform: scale(1.1);
			}

			color: $ap-teal;
		}

	}
}


//------------------------------------------------------------------------
//		Partner Logos on about page
//------------------------------------------------------------------------
#block-partner-logos{
	@extend .wrapper;
	padding: var(--vertical-padding) var(--horizontal-padding);
}

$partner-margins: calc(4 * #{$grid-view-margins});

.list-view.partners-listing{
	.view-content{
		margin-left: calc(-1 * #{$partner-margins});
		display: flex;
		flex-flow: row wrap;
	}

	.views-row{
		flex-grow: inherit;
		flex-basis: auto;
		max-width: 150px;
		margin-left: $partner-margins;
		position: relative;
		margin-bottom: $partner-margins;
		display: flex;
	}

	.partner{
		display: flex;
		align-items: center;
		justify-content: center;
	}

	svg,img{
		min-width: 90px;
		overflow: visible;
	}
}

// Redo based on ul

.partners-listing ul{
  display: flex;
  margin-left: calc(-1 * #{$partner-margins});
  flex-flow: row wrap;

  li{
    flex-grow: inherit;
    flex-basis: auto;
    max-width: 150px;
    margin-left: $partner-margins;
    position: relative;
    margin-bottom: $partner-margins;
    display: flex;
  }

  .partner{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  svg,img{
    min-width: 90px;
    overflow: visible;
  }
}


//------------------------------------------------------------------------
//		Taxonomy Tag link
//------------------------------------------------------------------------
a.tag{
	display: inline-flex;
	//border: 1px solid #000;
	align-items: center;
	text-decoration: none;

	// Temp solution until I can get rid of wrappers
	article{
		width: 50px;
		margin: 5px 10px 5px 5px;

		img,
		svg{
			display: block;
		}
	}

	.field--name-name{
		@extend label;
		font-size: 15px;
		text-decoration: none !important;
		text-decoration: none;
		color: #000;

	}

	&:hover{

	}
}

//
.field--name-field-tag{
	//display: flex;

	//margin-left: -30px;

	> div{
	//	margin-left: 30px;
	}
}


//------------------------------------------------------------------------
//		Greenhouse Job board integration
//------------------------------------------------------------------------
#grnhse_app{


}
#wrapper{
		margin: 0;
		padding: 0;
	}



//------------------------------------------------------------------------
//		Media
//------------------------------------------------------------------------
.media--view-mode-full-width{
	margin-top: 2 * $base-line-height;
	//margin-top: 2 * $base-line-height;
//	margin-left: -20px;
//	margin-right: -20px;
//	margin: 50px -20px;

	video{
		width: 100%;
		height: 100%;
	}
}

.media--view-mode-default{
	margin: var(--vertical-padding) 0;
}

.media--type-remote-video/*,
.image-style-full-width*/{
	margin: var(--vertical-padding) 0;
}

@include breakpoint($tablet){
	.media--view-mode-full-width{
//		margin-left: 0;
//		margin-right: 0;
	//	margin: 70px;
	}
}

@include breakpoint($laptop){
	.media--view-mode-full-width{

	//	margin: 120px;
	}

}

@include breakpoint($desktop){
	.media--view-mode-full-width{

	//	margin: 150px;
	}

}

video{
	width: 100%;
	height: auto;
}

//------------------------------------------------------------------------
//		Vanilla JS version of fitvid.js for resizing video content
//------------------------------------------------------------------------
.fitVids-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}
.fitVids-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


//------------------------------------------------------------------------
//		Case Study
//------------------------------------------------------------------------
.page-node-type-case-study main{
	background: $ap-ivory;

	#block-artpro-content > article{
		background: $ap-ivory;
	}
}

.body_old{
	padding: var(--vertical-padding) var(--horizontal-padding);

	>*:first-child{
		margin-top: 0;
	}
}

.key-information{
	background: $ap-black;
	color: #fff;
	z-index: 2;
	padding: var(--vertical-padding) 20px;

	a{
		@extend %link;
	}

	h2{
		margin-top: $base-line-height;
		margin-bottom: $base-line-height;
	}

	p{
		color: #fff;
	}

	.challenge-overview{
		border: $border-width solid #fff;
		border-bottom: none;
		margin: 0 auto;
		padding: 0;

		section{
			padding: 0 20px;
			flex: 1;
			border-bottom: $border-width solid #fff;
		}
	}

	@include breakpoint($tablet){
		.challenge-overview{
			display: flex;

			> div{
				flex: 1;
			}

			section:nth-child(n+2){
				border-left: $border-width solid #fff;
			}
		}
	}
}

/*
@include breakpoint($tablet){
	.key-information .challenge-overview{
		section:nth-child(n+2){
			border-left: $border-width solid #fff;
		}
	}
}
*/

.mezzotint-break{
	height: .5 * $vertical-padding;
	background: image('mezzotint-wht@1x.png');
	border: $border-width solid #fff;
	border-top: none;
}


	.main{
		z-index: 0;
	}


//--------------------------------------------------
//		Content metadata tags partners etc.
//--------------------------------------------------
.content-metadata{
	border: $border-width solid $ap-black;
	padding: 10px;
	box-sizing: border-box;
	margin-bottom: 40px;
	background: $ap-ivory;
	position: relative;

	&::before{
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top:5px;
		left: 5px;
		z-index: -1;
		background: #000 image('mezzotint-wht@1x.png');
	}

	//.field-wrapper{
	.field{
		display: flex;
		border-bottom: 1px solid $ap-black;
		padding: 10px 0 10px;

		&:last-child{
			border-bottom: none;
			padding-bottom: 0;
		}

		&:first-child{
			padding-top: 0;
		}
	}

	//.field-label{
	.field__label{
		//flex-basis: 33%;
		min-width: 110px;
		margin-right: 10px;
	}

	//.field-list{
	.field__items{
		flex: min-content;

		li{

		}

		a{
			color: inherit;
			display: block;
			//text-decoration: none;
			//display: block;

			&:hover{
				text-decoration: underline;
				color: $ap-teal;
			}
		}
	}

	// Add top margin to all items after the first
	.field__item:nth-child(n+2) a{
		margin-top: 10px;
		margin-top: .5 * $base-line-height;
	}

	p:last-child{
		margin-bottom: 0;
	}

}

//--------------------------------------------------
//		News Listing Page
//--------------------------------------------------
.news-page{

}

//--------------------------------------------------
//		Articles / News Items
//--------------------------------------------------
section.main .page-subtitle{
	margin-bottom: 2 * $base-line-height;
}

.page-node-type-article.dark-header #content-header .view-content{
	background: rgba(#000,.8);
}

.page-node-type-article{
	.main .field--name-body{
		background: #fff;
	}

	#content-header{
		> .wrapper{
			margin-left: 0;
			margin-right: 0;
			max-width: none;
			padding-bottom: 0;
			padding-left: 0;
			padding-right: 0;
		}

		&::after{
			display: none;
		}

		&::before{
			background: linear-gradient(to bottom,rgba(0,0,0,.75) 0,rgba(0,0,0,0) 240px,rgba(0,0,0,0) 100%)
		}

		.view-content{

			> div{
				@extend .wrapper;
				padding: 1rem var(--horizontal-padding) 2rem var(--horizontal-padding);
			}
		}
	}

	h1{
		margin-bottom: 0;
		text-transform: none;
	}



	.media--view-mode-full-width{
		margin: 40px 0;
	}

	section.main.wrapper{
		//max-width: 860px;

		p,
		h2,
		h3,
		h4,
		blockquote,
		a,
		//ul
		{
			max-width: 800px;
		}
	}

/*
	@include breakpoint($laptop){
		.field--name-body > ul > .field-value{
			column-count: 2;
			column-gap: 40px;

			h2,h3,h4
			article{
				column-span: all;
			}
		}

		.media--view-mode-full-width{
			column-span: all;
		}

		p{
			break-inside: avoid;
		}
	}
*/

	@include breakpoint($laptop){
		.media--view-mode-full-width{
		//	margin: var(--vertical-padding) -80px;
		//	margin: var(--vertical-padding) -80px var(--vertical-padding) 0;
		}
	}
}


//--------------------------------------------------
//		Product and Services page and view styling
//--------------------------------------------------
#block-product-and-service-categories{}

.region-content{
//	padding-bottom: var(--vertical-padding);


}

.products-services-list{
	@extend .wrapper;
	padding-bottom: var(--vertical-padding);
	//padding: 0 var(--horizontal-padding) var(--vertical-padding) var(--horizontal-padding);



	.views-row{
		border-bottom: $border-width solid $ap-black;
		padding: var(--vertical-padding) 0;
		position: relative;
	}

	@include breakpoint($tablet){
		.view-content{
			display: flex;
			flex-flow: row wrap;
	//		margin: -4 * $grid-view-margins;
		}

		.views-row{
			flex: 1;
			flex-basis: 40%;

			section{
				margin-right: 4 * $grid-view-margins;
			}

			&:nth-child(odd) section{
				margin-right: 0;
				margin-left: 4 * $grid-view-margins;
			}

			&:first-child{
				flex-basis: 100%;

				section{
					margin: 0;
					max-width: 700px;
				}
			}
		}
	}

	h2{
		margin-top: $base-line-height;
	}

	svg{
		height: 100%;
		width: 100%;

		*{
			fill: currentColor;
		}
	}

	section{
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	.image{
		height: 230px;
		width: 230px;
	}

	.teaser-title{
//		margin-top: 0;
	}

	.teaser-content{
		flex: 1;
		flex-direction: column;
		display: flex;
	}

	a.button{
		margin-top: auto;
		margin-bottom: 0;
	}
}


//------------------------------------------------------------------------
//		Product and Service taxonomy pages
//------------------------------------------------------------------------
.vocabulary-id-product main{
	background: $ap-ivory;
}

.vocabulary-product .content-metadata{
	padding-bottom: 0;

	> img{
		float: left;
		width: 70px;
		height: 70px;
		margin-right: 20px;
		margin-bottom: 10px;
	}
}

.view-child-terms{
	margin-top: 10px;
	clear: both;
}

.view-child-terms .views-row{

	a, .no-link{
		display: block;
		padding: 10px 0px;
		border-top: 1px solid $ap-black;
		color: var(--font-color);
		text-decoration: none;
	}

	a{
		text-decoration: underline;
	}

	a:hover{
		color: $ap-teal;
	}

	&:last-child{
	//	margin-bottom: -10px;
	}
}


//--------------------------------------------------
//		Content sidebar
//--------------------------------------------------
.right-sidebar{
	z-index: 1;
	padding-top: var(--vertical-padding);

	@include breakpoint($tablet){
		padding-top: 0;
		//float: right;
			//max-width: 33%;
	}

	@include breakpoint($laptop){
		//width: 33%;
	}
}

.with-sidebar.wrapper{
	padding: var(--vertical-padding) var(--horizontal-padding);
}

@include breakpoint($tablet){
	.with-sidebar{
		display: flex;

		> *{
			flex: 1;
		}
	}

	.right-sidebar{
		width: 33%;
		max-width: 33%;
		margin-left: 8.3%;
		margin-bottom: .5 * $vertical-padding;
	}
}


//------------------------------------------------------------------------
//		Impact Data
//------------------------------------------------------------------------
.field--name-field-impact{
//	@extend .flex;
}

.impact{
	border: $border-width solid #fff;
	border-top: none;
	padding: .5 * $vertical-padding 20px;
}

.field--name-field-impact{

	.field__label{
		text-align: center;
		@extend .h3;
		margin-bottom: .5 * $vertical-padding;
	}

	.field__items{
		display: flex;
		flex-flow: row wrap;
		margin-left: -20px;
		color: #fff;
	}

	.field__item{
		text-align: center;
		flex: 1;
		margin-left: 20px;
	}

	svg{
		max-width: 130px;
		max-height: 90px;
	}

	// Target use to style SVG's
	use{
		fill: #fff;
	}

	.data{
		@extend .h1;
		display: block;
		margin-bottom: .5 * $base-line-height;
	}

	.metric{
		display: block;
		font-weight: 500;
	}
}


//------------------------------------------------------------------------
//		Pullout Content
//------------------------------------------------------------------------
.pullout-content{
/*
	perspective: 1px;
	transform-style: preserve-3d;
	overflow-x: hidden;
	overflow-y: scroll;
	//min-height: 500px;
	position: relative;
	width: 100%;
	display: block;
	z-index: 1;
	height: 600px;

*/
	background-size: cover;
	position: relative;
	//background-size: 100% auto !important;
	background-position: center center !important;

	h2{
		margin-top: 0;
	}
/*
	&::before{
			content: '';
			display: block;
			background: inherit;
			transform: translateZ(-.5px) scale(1.6);
			position: absolute;
			background-position: top center !important;
			top:0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: -1;
			background-size: cover;
		}
*/
/*

	.parallax{
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;

	}
*/

	section{
		padding: var(--vertical-padding) var(--horizontal-padding);
	}

	aside{
		//transform: translateZ(-.3px) scale(1.3) translate(-39%, -39%);
		background: #fff;
		padding: 30px;
		z-index: 3;
		max-width: $max-wrapper-width/2;

		blockquote{
			margin: 0;
			border: 0;
			padding: 0;
		}

		p.quotee{
			margin-bottom: 0;
		}
	}

	@include breakpoint($tablet){
		background-attachment: fixed !important;
	}
}


//------------------------------------------------------------------------
//		Mailchimp enews signup form
//------------------------------------------------------------------------
.region-newsletter-signup{
	margin-top: auto;
}

.block-mailchimp-signup{
	background: $ap-ivory;
	padding: .5 * $vertical-padding 0;
}

// The signup form
#mailchimp-signup-subscribe-block-newsletter-signup-form{

	@extend .wrapper;
	display: flex;
	flex-direction: column;
	justify-content: center;

	p{
		flex: 0 0 100%;
		font-size: 2rem;
		margin-bottom: 2rem;
		@extend .h3;
	}

  h3{
    flex: 0 0 100%;
  }

	.mailchimp-newsletter-mergefields{
		display: flex;
		flex-direction: column;
		flex-basis: 80%;

		> div{
			flex: 1;
		}

		.form-type-email{
			order: 3;
		}
	}


	input[type="text"],
	input[type="email"]{
		border: none;
		border-bottom: $border-width solid $ap-black;
		background: none;
		transition: all $transition-speed;
		width: 100%;
		box-sizing: border-box;
		padding-left: 0;

		&::placeholder{
			//@extend label;
			//font-family: $title-font;

			opacity: 1;
		}

		&:focus{
			&::placeholder{
				opacity: .5;
			}

			border-color: $ap-grey;
		}

	}

	label{
		@extend %visually-hidden;
	}

	.form-submit{
		@extend .button--primary;
		margin: 0;
		padding-top: .5rem;
		padding-bottom: .5rem;
		margin-left: auto;

		&:hover{
		}
	}

	.form-item{
		margin: 0 0 30px 0px;
	}

	#edit-actions{
		display: flex;
		align-items: flex-end;
	}

	@include breakpoint($phablet){
		flex-flow: row wrap;

		.mailchimp-newsletter-mergefields{
			flex-flow: row wrap;
		}

		.form-submit{
			padding-top: 0;
			padding-bottom: 0;
			//margin-left: 30px;
		}

		.form-item{
			margin: 0 30px 0 0px;
		}
	}
}


//------------------------------------------------------------------------
//		Fields
//------------------------------------------------------------------------


.field-label{
	@extend label;
	display: block;
}

.field-list{
	@extend %zero-margin-padding;
}

.field-value{
	@extend %zero-margin-padding;
	list-style: none;
	margin: 0;
}

field-wrapper{

	.field-value{
//		margin: 0;
	}
}

//}



