{#
/**
 * @file
 * Theme override to display a media item.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'media',
    'media--type-' ~ media.bundle()|clean_class,
    not media.isPublished() ? 'media--unpublished',
    view_mode ? 'media--view-mode-' ~ view_mode.id()|clean_class,
  ]
%}

{% if view_mode == 'featured' %}
	<audio id="featured-audio-player">
		<source src="{{ content }}" type="audio/x-wav">
	 </audio>
	 
	 <button id="audio-toggle" onClick="togglePlay()" title="Play the featured audio for this Page" aria-pressed="true/false">Listen Now</button>
{#
	 <button onclick="document.getElementById('player').play()">Play</button>
   <button onclick="document.getElementById('player').pause()">Pause</button>
   <button onclick="document.getElementById('player').volume += 0.2">Vol+</button>
   <button onclick="document.getElementById('player').volume -= 0.2">Vol-</button>
#}
	 
{# 	 {{ kint() }} #}

{% else %}

<article{{ attributes.addClass(classes) }}> #}
  {% if content %}
    {{ content }}
  {% endif %}
</article>
{% endif %}